
*{
font-family: "Tajawal", sans-serif;
font-weight: 400;
font-style: normal;
}
body{
margin:0;
background:#eef5f7;
text-align:center;
direction:rtl;
}

/* header */

header{
display:flex;
align-items:center;
justify-content:space-between;
padding:15px 40px;
background:white;
border-bottom:2px solid #FF9933;
}

.logoutIcon {
width: 24px;
height: 24px;
margin-left: 20px;
transition: opacity 0.3s;
filter: brightness(0) saturate(100%) invert(36%) sepia(96%) saturate(740%) hue-rotate(131deg) brightness(91%) contrast(92%);
}

.logoutIcon:hover {
opacity: 0.7;
}

/* hero */

.hero{
padding:60px 40px;
}

.welcome{
color:#FF9933;
font-size:48px;
margin-bottom:40px;
text-align:right;
}

/* main orange card */

.classCard{
background:#FF9933;
color:white;
padding:40px;
border-radius:40px;
margin-bottom:50px;
position:relative;
}

.classTitle{
font-size:36px;
margin-bottom:30px;
}

.classInfo{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
}

.classInfo div{
text-align:right;
}

.classInfo .label{
font-size:14px;
opacity:0.8;
}

/* level box */

.level{
position:absolute;
left:30px;
top:30px;
background:#ffa94d;
padding:15px 20px;
border-radius:15px;
text-align:center;
}

.level span{
color:#026E81;
font-weight:bold;
font-size:18px;
}

/* grid below */

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
}

.box{
background:white;
border:2px solid #FF9933;
border-radius:30px;
padding:30px;
text-align:right;
}

.box h3{
color:#FF9933;
margin-bottom:20px;
}

/* announcements */

.announce{
border-right:4px solid #026E81;
padding-right:15px;
margin-bottom:20px;
}

.announce span{
font-size:12px;
color:#777;
}

/* students */

.students{
grid-column:span 2;
}

.student{
background:#f7f7f7;
padding:15px;
border-radius:12px;
margin:10px 0;
}

.title{
color:#026E81;
font-weight: 400;
}

.nav a{
margin:0 10px;
text-decoration:none;
color:#026E81;
font-weight:bold;
}

/* hero */

.hero{
padding:80px 20px;
}

.hero h1{
color:#026E81;
font-size:60px;
margin-bottom:20px;
}

.verse{
color:#FF9933;
font-size:20px;
margin-bottom:40px;
font-family: "Amiri", serif;
font-weight: 400;
font-style: normal;
}


header{
display:flex;
align-items:center;
justify-content:space-between;
padding:10px 40px;
background:white;
border-bottom:2px solid #FF9933;
}

/* logo + title */

.brand{
display:flex;
align-items:center;
gap:10px;
}

.logo{
width:40px;
height:auto;
}

.title{
color:#026E81;
margin:0;
}

/* buttons */

.buttons{
display:flex;
justify-content:center;
gap:20px;
}
/* login page top buttons*/
.abutton{
  font-weight: 500;
  background: #ffffff;
  color: #026E81;
  border-width: 1px;
  border-color: #bbbbbb;
  border-style: solid;
  padding: 5px 30px;
  border-radius: 10px;
  cursor: pointer;
}
/* login page icon */
.lockIcon{
    width: 16%;
}
/*login form*/
form{
    text-align: right;
    font-size: 10px;
    color: #FF9933;
}
.label{
font-weight: 600;
color: #FF9933;
}

input{
    width: 70%;
    border-color: #FF9933;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 10px;
}
.start{
background:#026E81;
color:white;
border:none;
padding:15px 35px;
border-radius:13px;
font-size:18px;
}

.login{
background:white;
border:2px solid #FF9933;
color:#026E81;
padding:15px 35px;
border-radius:15px;
font-size:18px;
}
h3{

font-weight: 700;

}
/* cards */

.features{
display:flex;
justify-content:center;
gap:40px;
padding:80px 20px;
}

.card{
background:white;
width:300px;
padding:40px;
border:2px solid #FF9933;
border-radius:30px;
}

.card h3{
color:#026E81;
}

.card p{
color:#333;
}

.icon{
font-size:40px;
margin-bottom:10px;
}

/* footer */

footer{
border-top:2px solid #FF9933;
padding:40px;
background:white;
}

.footer-links{
margin-top:15px;
}

.footer-links a{
margin:0 15px;
color:black;
text-decoration:none;
}

